{% extends 'base.html' %}

{% block title %}Madlib{% endblock %}

{% block content %}
<h1>Make A Madlib</h1>
<form action="/madlib" method="POST">
    <!-- each form uses one method of request -->
    <!-- sends a post request to madlibs route -->
    <div>
        <label for="person">Enter a name: </label>
        <input type="text" name="person">
    </div>

    <div>
        <label for="color">Choose a color: </label>
        <select name="color">
            <option value="green">Green</option>
            <option value="purple">Purple</option>
            <option value="red">Red</option>
            <option value="aqua">Aqua</option>
        </select>
    </div>

    <div>
        <label for="noun">Type a noun:</label>
        <input type="text" name ="noun">
    </div>

    <div>
        <input type="checkbox" name="adj" value="perturbed">
        <label for="adj">"Perturbed"</label>
        <input type="checkbox" name="adj" value="jubulant">
        <label for="adj">"Jubulant"</label>
        <input type="checkbox" name="adj" value="exquisite">
        <label for="adj">"Exquisite"</label>
        <input type="checkbox" name="adj" value="wiggly">
        <label for="adj">"Wiggly"</label>
    </div>

    <button>Get Madlib</button>
</form>

{% endblock %}