{% extends 'base.html' %}

{% block title %}Madlib Game{% endblock %}

{% block content %}

<p>There once was a <span>{{ color }}</span>  <span>{{ noun }}</span> sitting in the Hackbright Lab.
    When <span>{{ person }}</span> went to pick it up, it burst into flames in a totally
    {% for adj in adjs %} 
        <span>{{ adj }}</span>
    {% endfor %}
    way.</p>
    <!-- Additional Amy/ Molli challenge adj can return multiple adjs - try to include all chosen checkboxes in madlib results -->

    
{% endblock %}